In [1]:

%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [2]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\haik_000\Desktop\insper\meu\CD2017\Projeto3

In [5]:
dados=pd.read_csv('db/2016/scouts.csv',sep=',')

In [6]:
dados.head()

,Rodada,ClubeID,AtletaID,Participou,Pontos,PontosMedia,Preco,PrecoVariacao,FS,PE,...,PP,RB,FC,GC,CA,CV,SG,DD,DP,GS
0,0,294.0,37623,False,0.0,0.00,4.00,0.00,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,294.0,37623,True,5.3,5.30,6.84,2.84,0,3,...,0,1,1,0,0,0,1,0,0,0
2,2,294.0,37623,True,-0.5,2.40,6.67,-0.17,0,0,...,0,0,1,0,0,0,0,0,0,0
3,3,294.0,37623,True,2.3,2.37,6.98,0.31,1,2,...,0,2,2,0,0,0,0,0,0,0
4,4,294.0,37623,True,-2.7,1.10,5.50,-1.48,0,3,...,0,1,3,0,1,0,0,0,0,0

In [7]:
atletas=pd.read_csv('db/2016/atletas.csv',sep=',')

In [8]:
atletas.head()

      ID         Apelido  ClubeID  PosicaoID
0  37623  Rafael Marques      294          3
1  72382      Marquinhos      277          5
2  95830    Emerson Cris      315          6
3  81794  Cláudio Prates      327          6
4  37837        Cristian      303          4