In [4]:

%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os

In [5]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\haik_000\Desktop\insper\meu\CD2017\Projeto3

In [6]:
dados=pd.read_csv('db/2016/scouts.csv',sep=',')

In [15]:
dados.head()

,Rodada,ClubeID,AtletaID,Participou,Pontos,PontosMedia,Preco,PrecoVariacao,FS,PE,...,PP,RB,FC,GC,CA,CV,SG,DD,DP,GS
0,0,294.0,37623,False,0.0,0.00,4.00,0.00,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,294.0,37623,True,5.3,5.30,6.84,2.84,0,3,...,0,1,1,0,0,0,1,0,0,0
2,2,294.0,37623,True,-0.5,2.40,6.67,-0.17,0,0,...,0,0,1,0,0,0,0,0,0,0
3,3,294.0,37623,True,2.3,2.37,6.98,0.31,1,2,...,0,2,2,0,0,0,0,0,0,0
4,4,294.0,37623,True,-2.7,1.10,5.50,-1.48,0,3,...,0,1,3,0,1,0,0,0,0,0

In [11]:
atletas=pd.read_csv('db/2016/atletas.csv',sep=',')
atletas

         ID            Apelido  ClubeID  PosicaoID
0     37623     Rafael Marques      294          3
1     72382         Marquinhos      277          5
2     95830       Emerson Cris      315          6
3     81794     Cláudio Prates      327          6
4     37837           Cristian      303          4
5     38062             Lugano      276          3
6     38109          Jefferson      263          1
7     38139               Bobô      284          5
8     38162               Fred      282          5
9     38061           Edcarlos      282          3
10    38100             Durval      292          3
11    38140     Fernando Prass      275          1
12    93733       Ítalo Borges      344          5
13    73580             Falcão      285          6
14    94336             Mateus      266          4
15    37792             Edinho      294          4
16    50294          Guilherme      264          4
17    50301            Everton      262          4
18    50317         David Braz      277          3
19    50313          Elicarlos      316          4
20    50295     Felipe Menezes      303          4
21    63219               Luan      282          5
22    68725        Diego Renan      287          2
23    68698        Bruno Silva      263          4
24    68690              André      264          5
25    63158             Moisés      275          4
26    93566      Martín Alaníz      315          5
27    93697     Gervasio Núñez      263          4
28    72389               Mike      285          5
29    79170    Rodrigo Ramallo      287          5
...     ...                ...      ...        ...
971   93317    Diogo Giacomini      282          6
972   97342         João Pedro      316          4
973   71122    Matheus Menezes      263          3
974   92901     Felipe Moreira      303          6
975   97350           Emiliano      327          4
976   97352              Pachu      263          4
977   90486        Alan Fialho      266          2
978   91649              Pilar      327          5
979   92692             Michel      327          2
980   97432    Victor Henrique      327          3
981   97431              Diego      327          2
982   97433        Guilherme        327          5
983   92762              Erick      303          4
984   95291            Eduardo      294          2
985   79334      Ricardo Silva      293          3
986   97437         Marquinhos      303          4
987   97438             Lyncon      303          5
988   97441        Lukas Silva      344          1
989   97436          Handerson      303          3
990   97442          Léo Cotia      344          5
991   97443           Romercio      294          3
992   97448   Thalisson Kelven      294          3
993   97444        Julio Rusch      294          4
994   97449           Carvalho      294          4
995   97445  Matheus Iacovelli      275          5
996   97451     Talysson Lalau      294          4
997   97450   Gustavo Mosquito      294          5
998   97460        João Victor      344          4
999   82626            Thales       285          3
1000  88368       Gabriel Dias      275          3

[1001 rows x 4 columns]

In [17]:
flamengo= dados[dados.ClubeID==262]
flamengo.head() #dados da pontuação de todos os jogadores do flamengo

,Rodada,ClubeID,AtletaID,Participou,Pontos,PontosMedia,Preco,PrecoVariacao,FS,PE,...,PP,RB,FC,GC,CA,CV,SG,DD,DP,GS
406,0,262.0,50301,False,0.0,0.00,13.00,0.00,0,0,...,0,0,0,0,0,0,0,0,0,0
407,1,262.0,50301,True,9.4,9.40,16.47,3.47,1,5,...,0,2,1,0,0,0,0,0,0,0
408,2,262.0,50301,True,-0.1,4.65,15.54,-0.93,4,1,...,0,1,2,0,1,0,0,0,0,0
409,3,262.0,50301,True,3.0,4.10,15.25,-0.29,0,2,...,0,3,2,0,0,1,0,0,0,0
410,4,262.0,50301,False,0.0,4.10,15.25,0.00,0,0,...,0,0,0,0,0,0,0,0,0,0